
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    
    <mat-card class="card">
    <img src="assets/user.png" width="100px">
    <h3>Nirodha Wickramarathna</h3>
    <p>niro@gmail.com  </p>
  </mat-card>
    <!-- Side navigation Buttons -->
   
     <mat-selection-list #shoes [multiple]="false">
      <mat-list-option >
       <a (click)="drawer.toggle()" routerLink="/past_appointments">Past Appointments</a>
      </mat-list-option>
      <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/specialty_list">Speciality List</a>
       </mat-list-option>
       <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/doctor_list">Doctor List</a>
       </mat-list-option>
       <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/hospital_list">Hospital List</a>
       </mat-list-option>
       <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/logout">Logout</a>
       </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="example-sidenav-content">

    <!-- Tool Bar Here -->
    <mat-toolbar color="primary">
      <button mat-button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>DOC 98</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>


  </div>
  
  <router-outlet></router-outlet>
 
</mat-drawer-container>
