
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>HOME PAGE</mat-card-title>
      <mat-card-subtitle>Select Doctors, Hospitals, Specialities to Filter Sessions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Select a Speciality</mat-label>
            <input type="text"
                   placeholder="Select Speciality"
                   aria-label="Speciality"
                   matInput
                   [formControl]="specialityControl"
                   [matAutocomplete]="auto1">
                   <mat-icon matSuffix>brightness_5</mat-icon>
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn1">
              <mat-option *ngFor="let speciality of filteredSpecialities | async" [value]="speciality">
                {{speciality.name}} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </mat-card-content>


    <mat-card-content>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Hospital</mat-label>
          <input type="text"
                 placeholder="Select Hospital"
                 aria-label="Hospital"
                 matInput
                 [formControl]="hospitalControl"
                 [matAutocomplete]="auto2">
                 <mat-icon matSuffix>business</mat-icon>
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displayFn2">
            <mat-option *ngFor="let hospital of filteredHospitals | async" [value]="hospital">
              {{hospital.name}} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  </mat-card-content>


  <mat-card-content>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Select Doctor</mat-label>
        <input type="text"
               placeholder="Select Doctor"
               aria-label="Doctor"
               matInput
               [formControl]="doctorControl"
               [matAutocomplete]="auto3">
               <mat-icon matSuffix>medical_services</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="displayFn3" >
          <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor">
            {{doctor.name}} 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
</mat-card-content>
  
<mat-card-actions>
   <button mat-raised-button (click)="reset()">RESET</button>
   <button mat-raised-button color="accent" (click)="search()">SEARCH</button>
</mat-card-actions>

  </mat-card>